.logo-area-custom {
    padding: 12px 0 !important;
}

.logo-homepage {
    height: 75px !important;
}

.wrap-star i {
    color: #febd69;
}

.custom-ts-service-image-wrapper {
    margin-bottom: 0.5rem !important;
}

.custom-ts-service-info {
    margin-left: 0px !important;
}

.custom-view-detail {
    font-size: 12px !important;
    font-style: italic;
}

.image-product {
    background-size: cover;
    height: 300px;
}

.image-product-slide {
    background-size: cover;
    height: 500px;
}

.image-product-detail {
    background-size: cover;
    height: 150px;
}

/* Style mobile */
@media screen and (max-width: 768px) {
    ul.top-info li {
        padding-right: 0 !important;
    }

    ul.top-info-box li:last-child {
        padding-right: 20px;
    }

    .image-product {
        height: 350px;
    }

    .row1 {
        display: none;
    }
    .pb-0 {
        margin-top: -100px;
    }

    .img-fluid1 {
        display: none;
    }
   .banner-area {
       display: none;
   }

   .ts-team {
       margin-top: -100px;
   }
    .row2{
      margin: 20px;
    }
}


