.wrap-star i {
    color: #febd69;
}

.custom-ts-service-image-wrapper {
    margin-bottom: 0.5rem !important;
}

.custom-ts-service-info {
    margin-left: 0px !important;
}

.custom-view-detail {
    font-size: 12px !important;
    font-style: italic;
}