.logo-area-custom {
    padding: 24px 0 !important;
}

.logo-homepage {
    height: 75px !important;
}

.wrap-star i {
    color: #febd69;
}

.custom-ts-service-image-wrapper {
    margin-bottom: 0.5rem !important;
}

.custom-ts-service-info {
    margin-left: 0px !important;
}

.custom-view-detail {
    font-size: 12px !important;
    font-style: italic;
}

.image-product,
.image-product-other {
    background-size: cover;
    height: 200px;
    border: 1px solid #f5f1f1;
}

.image-product-slide {
    background-size: cover;
    height: 250px;
    border: 1px solid #f5f1f1;
    /*margin: 0 8rem;*/
}

.image-product-slide-small {
    background-size: cover;
    height: 85px;
    border: 2px solid #ffb600;
    cursor: pointer;
}

.image-product-slider {
    background-size: cover;
    height: 250px;
    border: 1px solid #f5f1f1;
}

.image-product-detail {
    background-size: cover;
    height: 150px;
}

.product-price {
    font-size: 14px;
    font-weight: 700;
    color: black;
}

.product-price-text {
    color: #ff0000;
    font-weight: bold;
    font-size: 20px;
}

.product-price-text-2 {
    color: #ff0000;
    font-weight: bold;
}

.product-contact-text {
    font-weight: 700;
    text-transform: uppercase;
    color: #ff0000;
}

.product-hotline {
    color: #ff0000;
    font-weight: 700;
}

.custom-column-title-small {
    background-image: linear-gradient(to right, #c9c9c9 , #f4f4f4);
    padding: 8px 4px;
    margin-top: 2.25rem;
}

.service-box-title-custom {
    font-size: 15px;
    color: #585858;
    font-weight: 700;
}

.title-cate {
    border-bottom: 1px solid gray;
    color: #ff0000;;
}

.clients-logo img {
    -webkit-filter: none !important;
    filter: none !important;
}

.highlight-project {
    height: 250px;
    background-size: cover;
    border: 1px solid #f5f1f1;
}

.slick-prev:before,
.slick-next:before {
    color: #ffb600;
}

.btn-show-fancy {
    padding: 6px 35px;
    color: #ffb600;
    border: 1px solid #ffb600;
    border-radius: 6px;
}

.product-description > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.product-description > ul > li:before {
    font-family: "Font Awesome 5 Free";
    content: "\f105";
    margin-right: 10px;
    color: #ffb600;
    font-size: 16px;
    font-weight: bold;
}

.footer-map:hover {
    color: #999999;
}

.top-bar-map:hover {
    color: #555555;
}

/* Style home page */
.cate-thumbnail {
    width: 24px;
    height: auto;
    border-radius: 5px;
}

.cate-name {
    font-size: 15px;
    color: white;
    font-weight: 600;
    text-transform: capitalize;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.wrap-sidebar-cate {
    color: white;
    background-color: #345d47;
    padding: 8px;
    margin-bottom: 2px;
}

.wrap-child-component {
    margin-top: 2.25rem;
}

.wrap-child-component-2 {
    margin-top: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.fixed-contact-icons {
    position: fixed;
    bottom: 145px;
    z-index: 9;
    right: 15px;
}

.fixed-tel {
    right: 15px;
    bottom: 100px;
    position: fixed;
    display: inline-block;
    min-width: 70px;
    height: 40px;
    line-height: 40px;
    background: #f00;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 125%;
    border-radius: 25px;
    padding: 0 10px 0 15px;
    box-shadow: 0 0 3px #fff;
    z-index: 999;
}

.fixed-tel-2 {
    right: 15px;
    bottom: 55px;
    position: fixed;
    display: inline-block;
    min-width: 70px;
    height: 40px;
    line-height: 40px;
    background: #f00;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 125%;
    border-radius: 25px;
    padding: 0 10px 0 15px;
    box-shadow: 0 0 3px #fff;
    z-index: 999;
}

.fixed-tel-3 {
    right: 15px;
    bottom: 10px;
    position: fixed;
    display: inline-block;
    min-width: 70px;
    height: 40px;
    line-height: 40px;
    background: #f00;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 125%;
    border-radius: 25px;
    padding: 0 10px 0 15px;
    box-shadow: 0 0 3px #fff;
    z-index: 999;
}

.fixed-contact-icons .icon-zalo {
    background: url("../../frontend/images/zalo-icon.png");
    background-size: cover;
}

.fixed-contact-icons .icon-msg {
    background: #0083FE url("../../frontend/images/icon-msg.png") 0 0 no-repeat;
    background-size: cover;
}

.fixed-contact-icons i {
    color: white;
    font-size: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    margin-right: 5px;
    display: inline-block;
    vertical-align: middle;
}

@media (min-width:769px) and (max-width:1200px) {
    .image-product-slide-small {
        height: 70px;
    }
}
/* Style mobile */
@media screen and (max-width: 768px) {
    ul.top-info li {
        padding-right: 0 !important;
    }

    ul.top-info-box li:last-child {
        padding-right: 20px;
    }

    .image-product,
    .image-product-other {
        height: 120px;
    }

    section, .section-padding {
        padding: 50px 0;
    }

    .banner-area {
        min-height: 180px;
    }

    .image-product-slide {
        height: 300px;
        margin: 0;
    }

    .image-product-slider {
        height: 150px;
    }

    .highlight-project {
        height: 150px;
    }

    .m-btn-mobile {
        margin-top: 30px !important;
    }

    .ts-team {
        margin-top: -100px;
    }

    .image-product-slide-small {
        height: 80px;
    }

    .slick-prev:before,
    .slick-next:before {
        font-size: 23px;
    }

    ul.top-info li i {
        margin-right: 0;
    }

    .section-sub-title-mobile {
        margin-bottom: 2.5rem !important;
    }
}


