.page {
    min-height: calc(100vh - 125px) !important;
}

.header-company {
    font-weight: 600;
    color: #f7c46c;
}

.header-department {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.7);
}

a.btn-outline-secondary {
    color: #363642;
    background: linear-gradient(180deg,#fff,#f6f7f9);
    border-color: #d7dce5;
    box-shadow: 0 1px 0 0 rgb(20 20 31 / 5%);
}

a.btn-outline-secondary:hover {
    background: linear-gradient(180deg,#f6f7f9,#f6f7f9);
    border-color: #d7dce5;
    box-shadow: none;
    color: #363642;
}

.text-table-primary {
    color: #4e73df !important;
}
